*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e6e6e6;
}
header, main, footer{
    width: 90%;
    margin: 20px auto;
}
header > nav{
    background-color: #528fd5;
    /* se utiliza overflow al usar un float: left en una hija */
    overflow: hidden;
    /* width: fit-content; */
}
header > nav > ul{
    list-style: none;
}
header > nav > ul > li{
    float: left;
}
header > nav > ul > li > a{
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}
header > nav > ul > li > a:hover{
    background-color: #75acec;
}
section{
    width: 69%;
    float: left;
    margin-right: 1%;
}
aside{
    width: 30%;
    background-color: #ff8800;
    float: left;
    padding: 20px;
    /* hace que la caja de 30% no se expanda por el padding sino que crece hacia adentro */
    box-sizing: border-box;
}
aside > h3{
    text-align: center;
}
article{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
footer{
    clear: both;
    background-color: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
figure{
    padding: 30px;   
}
h2{
    text-align: center;
}
.fondo-1{
    background-image: url(../img/guayaba.jpg);
    background-size: cover;
    background-position: bottom;
}